<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coming Soon - Start Bootstrap Theme</title>
    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/coming-soon1.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
{#    <script type="text/javascript" src="{{ url_for('static',filename='js/bootbox.min.js') }}"></script>#}
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/signUp.js"></script>
    <style>
      iframe {position:relative;
          {#opacity: 0.5;#}
      }
    </style>

</head>

<body>
{% block main %}{% endblock %}
</body>

</html>


