<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coming Soon - Start Bootstrap Theme</title>
    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/coming-soon1.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
{#    <script type="text/javascript" src="{{ url_for('static',filename='js/bootbox.min.js') }}"></script>#}
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/signUp.js"></script>
    <style>
      iframe {position:relative; left:-420px; bottom: -100px;
          {#opacity: 0.5;#}
      }
    </style>

  </head>

  

  <body>

    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../static/mp4/bg.mp4" type="video/mp4">
    </video>

    <div class="masthead">
     <nav class="navbar navbar-expand-lg navbar-custom navbar-dark fixed-top">
      <div class="navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://microdcn.com">Home</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="http://microdcn.com/showLogin">Log in</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="http://microdcn.com/showSignUp">Sign Up</a>
            </li>
          </ul>
        </div>
      </nav>
  </div>
  {% block main %}{% endblock %}


   <!--  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container" style = "position:relative; left:100px; color:red;">
        <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="{{ url_for('static',filename="images/remarket.png") }}" style="width:60px; margin-top:-10px"></a>
    </div>
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation" ><a href="http://microdcn.com:3000">Home</a></li>
            <li role="presentation" class="active"><a href="http://microdcn.com:3000/showLogin">Log in</a></li>
            <li role="presentation" class="active"><a href="http://microdcn.com:3000/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>

    </div>
  </div> -->

   

    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Bootstrap core JavaScript -->
{#    <script src="../static/vendor/jquery/jquery.min.js"></script>#}
{#    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
    

    <!-- Custom scripts for this template -->
{#    <script src="../static/js/coming-soon.min.js"></script>#}

  </body>

</html>
